.page.theme_light {
    --main-bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --menu-color: #353430;
    --logo-color: #FFC2E6;
    --title-bg-color: #FF8DCB;
    --section-title-color: #353430;
    --title-color: #353430;
    --text-color: #353430;
    --bg-img: url("../images/cover-image-light.png");
}

.page.theme_light .header__decor {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: #FFF1F7;
        --accent-color: #FF8DCB;
        --menu-color: #353430;
        --logo-color: #FFC2E6;
        --title-bg-color: #FF8DCB;
        --section-title-color: #353430;
        --title-color: #353430;
        --text-color: #353430;
        --bg-img: url("../images/cover-image-light.png");
    }

    .header__decor {
        display: none;
    }
}

